<!DOCTYPE html>
<html lang="en">
    <title>Title</title>
    <%- include('partials/header.ejs') %>
    <meta name="description" content="Wordle Re-created is a open source wordle-type game project written in NodeJS, MongoDB, Docker, and many more modern technologies.">
    <meta property="og:description" content="Wordle Re-created is a open source wordle-type game project written in NodeJS, MongoDB, Docker, and many more modern technologies.">
    <meta name="twitter:description" content="Wordle Re-created is a open source wordle-type game project written in NodeJS, MongoDB, Docker, and many more modern technologies.">
    <meta itemprop="description" content="Wordle Re-created is a open source wordle-type game project written in NodeJS, MongoDB, Docker, and many more modern technologies.">
    
    <body>
        <nav id="nav" class="navbar navbar-expand-lg navbar-dark">
            <div class="container-fluid justify-content-center">
              <a class="navbar-brand" href="#">Wordle Re-Created</a>
              
            </div>
          </nav>
          


        <div id="main-wrapper" class="container justify-content-center">
            <div class="row d-flex justify-content-center">
                <div id="row1" class="word-container"></div>
                <div id="row1" class="word-container"></div>
                <div id="row1" class="word-container"></div>
                <div id="row1" class="word-container"></div>
                <div id="row1" class="word-container"></div>
              </div>
              <div class="row d-flex justify-content-center">
                <div id="letter1" class="word-container"></div>
                <div id="letter1" class="word-container"></div>
                <div id="letter1" class="word-container"></div>
                <div id="letter1" class="word-container"></div>
                <div id="letter1" class="word-container"></div>
              </div>
              <div class="row d-flex justify-content-center">
                <div id="letter1" class="word-container"></div>
                <div id="letter1" class="word-container"></div>
                <div id="letter1" class="word-container"></div>
                <div id="letter1" class="word-container"></div>
                <div id="letter1" class="word-container"></div>
              </div>
              <div class="row d-flex justify-content-center">
                <div id="letter1" class="word-container"></div>
                <div id="letter1" class="word-container"></div>
                <div id="letter1" class="word-container"></div>
                <div id="letter1" class="word-container"></div>
                <div id="letter1" class="word-container"></div>
              </div>
              <div class="row d-flex justify-content-center">
                <div id="letter1" class="word-container"></div>
                <div id="letter1" class="word-container"></div>
                <div id="letter1" class="word-container"></div>
                <div id="letter1" class="word-container"></div>
                <div id="letter1" class="word-container"></div>
              </div>
              <div class="row d-flex justify-content-center">
                <div id="letter1" class="word-container"></div>
                <div id="letter1" class="word-container"></div>
                <div id="letter1" class="word-container"></div>
                <div id="letter1" class="word-container"></div>
                <div id="letter1" class="word-container"></div>
              </div>


        </div>
    </body>
</html>