<!DOCTYPE html>
<html lang="en">
    <title>Title</title>
    <%- include('partials/header.ejs') %>
    <meta name="description" content="Wordle Re-created is a open source wordle-type game project written in NodeJS, MongoDB, Docker, and many more modern technologies.">
    <meta property="og:description" content="Wordle Re-created is a open source wordle-type game project written in NodeJS, MongoDB, Docker, and many more modern technologies.">
    <meta name="twitter:description" content="Wordle Re-created is a open source wordle-type game project written in NodeJS, MongoDB, Docker, and many more modern technologies.">
    <meta itemprop="description" content="Wordle Re-created is a open source wordle-type game project written in NodeJS, MongoDB, Docker, and many more modern technologies.">
    
    <body>

    </body>
</html>